:root {
    --orange-red: orangered;
    --dark-grey: #222831;
    --white: white;
    --bright: #eeeeee;
    --lighter-grey: #484a4e;
    --orange: #d65a31;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(212, 212, 209);
    font-family: 'Roboto', sans-serif;
   background-color: #222831;
 
}
.general {
  /* background-image: url(/img/3d-bcg.png);
  background-attachment: fixed; */
  background-color: #222831;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231d222a' %3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
li {
    list-style: none;
    
}
.main-wraper {
    position: relative;
    width: 75%;
    min-width: 250px;
    margin: auto;
/*    background-color: black;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bright);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.41); 
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.41);
}
.intro-txt {
    width: 75px;
    background-color: transparent;
    position: absolute;
    z-index: 15;
    top: 10px;
    display: flex;
}
.intro-txt img {
    width: 100%;
    
}
.intro-txt-cont {
    width: 250px;
    height: 200px;
    background-color: rgb(26, 25, 25);
    position: absolute;
    left: -250px;
    z-index: 16;
    transition: .3s;
}
.intro-txt-cont p {
    padding: 10px;
    color: white;
}
.intro-txt:hover .intro-txt-cont{
    transform: translateX(250px);
    cursor: pointer;
    
}

/*
--------------------------
NAV
--------------------------
*/
.top-nav {
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0 0 15px black;
    border-bottom: 3px solid var(--lighter-grey);
    

 }
 .nav-wraper {
    display: flex;
}
.nav-logo {
    margin: 10px 10px;
    transition: .3s;
}
.nav-logo img {
    height: 200%;
}
.fa-houzz, .fa-info-circle {
    color: white;
}
.menu-active {
    color: var(--dark-grey);
}
.nav-links .active {
    color: black;
}
.nav-links {
    width: 33%;
    
}

.nav-wraper {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: var(--orange-red);
    position: relative;
    transition: 1s;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 50%;
    
}
 .nav-links a {
    color: white;
    text-decoration: none;
}

/* -----------dropdown------------- */
.class-li {
    cursor: pointer;
    position: relative;
}


.menu-drop-down {
    position: absolute;
    background-color: orangered;
    width: 150px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    z-index: 10;
    box-shadow: 0 0 15px black;
}
.class-li-drop {
    text-align: center;
}
.class-li-drop:hover .menu-drop-down {
    opacity: 1;
    pointer-events: all;
   
}

.menu-drop-down-item {
    white-space: nowrap;
    padding: 10px;
    transition: .4s;
}
.menu-drop-down-item:hover {
    background-color: var(--lighter-grey);
}
/*
--------------------------
NAV_INTERSECTION_OBSERVER
--------------------------
*/
.nav-scrolled {
    background-color: var(--orange);
    height: 5vh;
}
/*
--------------------------
NAV_INTERSECTION_OBSERVER
--------------------------
*/
/*
--------------------------
NAV
--------------------------
*/
/*
--------------------------
JUMBOTRON
--------------------------
*/
.jumbotron {
    overflow: hidden;
    width: 100%;
    max-height: 70vh;
    border: 1px solid var(--dark-grey);  
    
}

/*
--------------------------
JUMBOTRON
--------------------------
*/
/*
--------------------------
POSTS CONTENT
--------------------------
*/
.main-post {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    
    
}
.post-content {
    position: relative;
    top: -10vh;
    min-width: 250px;
    width: 30%;
    border-radius: 5px;
    margin: 0 10px;
    /* height: 100%; */
    background-color: var(--dark-grey);
    box-shadow: 0 0 15px black;
}
/* -------POST CONTENT ELEMNTS------ */
.post-content-title {
    position: relative;
    width: 80%;
    height: 50px;
    /* background-color: var(--lighter-grey); */
    /* border-bottom: 1px solid white; */
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.post-title {
    color: white;
}
.post-cont-divider {
    position: absolute;
    width: 20%;
    height: 4px;
    background-color: var(--orange-red);
    /* z-index: 25; */
    left: -3vw;
    top: 45px;
}
.post-content-title p {
    text-align: center;
    color: white;
    transition: .3s;
    
}
.read-all {
    width: 20%;
    min-width: 50px;;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    color: var(--orange-red);
    font-size: 70%;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.read-all:hover, .read-all p {
    background-color: var(--orange-red);
    color: white;
}
.post-types {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 25px;
}
.post-content-img {
    width: 80%;
    margin: auto;

}
.post-content-img img {
    width: 100%;
}
.post-conent-txt {
    width: 80%;
    margin: auto;
}
.post-conent-txt p {
    color: #f2f6f5;
    font-size: 12px;
}
.read-more {
    transition: .3s;
}
.read-more:hover {
    cursor: pointer;
    color: var(--orange-red);
}
/* -------POST CONTENT ELEMNTS------ */
/*
--------------------------
POSTS CONTENT
--------------------------
*/
/*
--------------------------
FILMS
--------------------------
*/

.films {
    width: 100%;
    min-height: 80vh;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.film-cont {
    width: 33%;
    
    height: 33%;
    
    border: 1px solid green;
}

/*
--------------------------
FILMS
--------------------------
*/
/*
--------------------------
FOOTER
--------------------------
*/
footer {
    width: 100%;
    min-height: 250px;
    background-color: grey;
    position: sticky;
}
/*
--------------------------
FOOTER
--------------------------

*/
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-9-28 11:10:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2019-9-28 11:4:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 .flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s 1s linear both;
}
 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-9-28 11:6:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .kenburns-top {
	-webkit-animation: kenburns-top 7s 1s ease-out both;
          animation: kenburns-top 7s 1s ease-out both;
        
}
/* ----------------------------------------------
 * Generated by Animista on 2019-9-28 11:10:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
  
/*
--------------------------
NAV-mobile
--------------------------
*/
@media screen and (max-width: 1400px) {
    .read-all {
        font-size: 50%;
    }
}
@media screen and (max-width: 768px) {
    .main-wraper {
    width: 100%;
   
    }
    .inside-cont1-left, .inside-cont1-right,
    .inside-cont2-left, .inside-cont2-right {
        width: 100%;
    }
    
    .inside-cont2-left {
        order: 2; /* default is 0 */
    }
    .inside-cont2-right {
       order: 1; 
    }
    .menu-drop-down {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    .class-li-drop {
        width: 100%;
        /* border: 1px solid red; */
        padding: 25px 0;
        background-color: grey;
    }
/*
    -----------------
    BURGER
    -----------------
*/
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 15;
    }
/*
    -----------------
    BURGER
    -----------------
*/
    
    .nav-links {
        z-index: 10;
        position: fixed;
        background-color: red;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 1s;
        pointer-events: none;
        position: absolute;
        
    }
/*
    -------------------------
    for js
*/
    .nav-links.open {
        clip-path: circle(1200px at 90% -15%);
        -webkit-clip-path: circle(1200px at 90% -15%);
        pointer-events: all;
    } 
   
/*
    -------------------------
    for js
*/
    .post-content {
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid white;
    }
    
    .post-cont-divider {
        display: none;
    }
    .post-content {
        margin: 0;
        border-radius: 0;
    }
    .read-all {
        font-size: 60%;
    }
}
/*
--------------------------
NAV-mobile
--------------------------
*/

