:root {
    --orange-red: orangered;
    --dark-grey: #222831;
    --white: white;
    --bright: #eeeeee;
    --lighter-grey: #484a4e;
    --orange: #d65a31;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #DFDBE5;
    font-family: 'Roboto', sans-serif;
    
}
li {
    list-style: none;
    
}
.main-wraper {
    width: 75%;
    min-width: 250px;
    margin: auto;
/*    background-color: black;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    background-color: black;
}


/*
--------------------------
NAV
--------------------------
*/
.top-nav {
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0 0 15px black;
 }

 .nav-wraper {
    display: flex;
}
.nav-logo {
    margin: 10px 10px;
    transition: .3s;
}
.nav-logo img {
    height: 200%;
}
.fa-houzz, .fa-info-circle {
    color: white;
}
.menu-active {
    color: var(--dark-grey);
}
.nav-links .active {
    color: black;
}
.nav-links {
    width: 33%;
    
}

nav {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: var(--orange-red);
    position: relative;
    transition: 1s;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 50%;
    
}
 .nav-links a {
    color: white;
    text-decoration: none;
}

/* -----------dropdown------------- */
.class-li {
    cursor: pointer;
    position: relative;
}


.menu-drop-down {
    position: absolute;
    background-color: orangered;
    width: 150px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    z-index: 10;
    box-shadow: 0 0 15px black;
}
.class-li-drop {
    text-align: center;
}
.class-li-drop:hover .menu-drop-down {
    opacity: 1;
    pointer-events: all;
   
}

.menu-drop-down-item {
    white-space: nowrap;
    padding: 10px;
    transition: .4s;
}
.menu-drop-down-item:hover {
    background-color: red;
}
/*
--------------------------
NAV_INTERSECTION_OBSERVER
--------------------------
*/
.nav-scrolled {
    background-color: var(--orange);
    height: 5vh;
}
/*
--------------------------
NAV_INTERSECTION_OBSERVER
--------------------------
*/
/*
--------------------------
NAV
--------------------------
*/
/*
--------------------------
JUMBOTRON
--------------------------
*/
.jumbotron {
    overflow: hidden;
    width: 100%;

    
}

/*
--------------------------
JUMBOTRON
--------------------------
*/
/*
--------------------------
POSTS CONTENT
--------------------------
*/
.main-post {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    
}
.post-content {
    position: relative;
    top: -10vh;
    min-width: 250px;
    width: 30%;
    border-radius: 5px;
    /* height: 100%; */
    background-color: var(--dark-grey);
    box-shadow: 0 0 15px black;
}
/* -------POST CONTENT ELEMNTS------ */
.post-content-title {
    width: 80%;
    height: 50px;
    /* background-color: var(--lighter-grey); */
    border-bottom: 1px solid white;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.post-content-title p {
    text-align: center;
    color: white;
    transition: .3s;
}
.read-all {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    color: var(--orange-red);
    font-size: 8px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.read-all:hover, .read-all p {
    background-color: var(--orange-red);
    color: white;
}
.post-types {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 25px;
}
.post-content-img {
    width: 80%;
    margin: auto;

}
.post-content-img img {
    width: 100%;
}
.post-conent-txt {
    width: 80%;
    margin: auto;
}
.post-conent-txt p {
    color: #f2f6f5;
    font-size: 12px;
}
.read-more {
    transition: .3s;
}
.read-more:hover {
    cursor: pointer;
    color: var(--orange-red);
}
/* -------POST CONTENT ELEMNTS------ */
/*
--------------------------
POSTS CONTENT
--------------------------
*/
/*
--------------------------
FILMS
--------------------------
*/

.films {
    width: 100%;
    min-height: 80vh;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.film-cont {
    width: 33%;
    
    height: 33%;
    
    border: 1px solid green;
}

/*
--------------------------
FILMS
--------------------------
*/
/*
--------------------------
FOOTER
--------------------------
*/
footer {
    width: 100%;
    min-height: 250px;
    background-color: grey;
}
/*
--------------------------
FOOTER
--------------------------
*/

/*
--------------------------
NAV-mobile
--------------------------
*/
@media screen and (max-width: 768px) {
    .main-wraper {
    width: 100%;
   
    }
    .inside-cont1-left, .inside-cont1-right,
    .inside-cont2-left, .inside-cont2-right {
        width: 100%;
    }
    
    .inside-cont2-left {
        order: 2; /* default is 0 */
    }
    .inside-cont2-right {
       order: 1; 
    }
    .menu-drop-down {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    .class-li-drop {
        width: 100%;
        /* border: 1px solid red; */
        padding: 25px 0;
        background-color: grey;
    }
/*
    -----------------
    BURGER
    -----------------
*/
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 15;
    }
/*
    -----------------
    BURGER
    -----------------
*/
    
    .nav-links {
        z-index: 10;
        position: fixed;
        background-color: red;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 1s;
        pointer-events: none;
        position: absolute;
        
    }
/*
    -------------------------
    for js
*/
    .nav-links.open {
        clip-path: circle(1200px at 90% -15%);
        -webkit-clip-path: circle(1200px at 90% -15%);
        pointer-events: all;
    } 
   
    /* .nav-links li:nth-child(1) {
       transition: all 0.5s ease 0.2s; 
    }
    .nav-links li:nth-child(2) {
       transition: all 0.5s ease 0.4s; 
    }
    .nav-links li:nth-child(3) {
       transition: all 0.5s ease 0.6s; 
    }
    .nav-links li:nth-child(4) {
       transition: all 0.5s ease 0.8s; 
    }
    li.fade {
        opacity: 1;
    } */
/*
    -------------------------
    for js
*/
}
/*
--------------------------
NAV-mobile
--------------------------
*/

